body{
    background-color: #ccc;

}
h1,h3{
    text-align: center;
}
#mainWrapper{
    border: 1px solid rgb(48, 48, 211);
    width: 50%;
    height: 400px;
}
.flexboxContainer{
    display: flex;
    flex-wrap: wrap;
      border: 1px solid red;
}
.flexboxItems{
    border: 2px solid red;
}